.employees_con{
    height: 100vh;
    width: 50%;
    margin: 0 auto;
}
.employees_con h3{
    margin-bottom: 10px;
    color: #505050;
}
.add_employee{
    width: 20rem;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
}
.add_employee input{
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid #858585;
    margin: 5px 0;
}
.add_employee input[type="submit"]{
    background-color: #172e51;
    color: #FFF;
    padding: 10px;
    cursor: pointer;
}
.add_employee input[type="submit"]:hover{
    background-color: #FFF;
    color: #000;
}

.employee_list_con{
    margin: 0 auto;
}
.employee_list_con table{
    width: 100%;
    border: 1px solid #858585;
    border-collapse: collapse;
}
.employee_list_con td,
.employee_list_con th{
    border: 1px solid #858585;
    padding: 5px;
}

